body {
  background-color: linen;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  display: inline;
  font-weight: 900;
  font-size: medium;
  padding: 0;
  margin:0pt;
}
a {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:link {
  background-color: lightpink;
}
a:visited {
  background-color: lightpink;
}
a:hover {
  background-color: lightpink;
  outline: medium solid salmon;
}
a:active {
  background-color:salmon;
}
h1 {
  background-color: salmon;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 900;
  font-size: medium;
  margin: 0pt;
}
ul {
  margin: 0pt;
}
img {
  max-width: 100%;
  height: auto;
  margin: 100pt
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 400pt;
  text-align: center;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-weight: 100pt;
  margin-left: 25pt;
  line-height: 150%;
}